body {
    background: #fff;
    font-family: Lato, sans-serif;
    box-sizing: border-box;
  }

  img{
    width: 100px;
    height: 100px;
  }
  .container {
    display: block;
    padding-top: 30px;
    width: 500px;
    margin: 100px auto 0;
  }

  ul {
    margin: 0;
    padding: 0;
  }
  
  li * {
    float: left;
  }
  li, h3 {
    clear:both;
    list-style:none;
  }

  input, button {
    outline: none;
  }

  #add-task{
    padding-top: 5px;
    height: 38px;
    line-height: 38px;
  }

  button,   input[type="submit"]  {
    background-color: lightslategray;
    border: 0px;
    font-size: 15px;
    width: 60px;
    margin: 10px 0 0;
    font-family: Lato, sans-serif;
    cursor: pointer;
  }
  
  button, input[type="submit"]:hover {
    color:white;

  }

  /* Heading */
h4{
  color: #333;
  font-weight: 500;
  font-size: 30px;
  margin-bottom: 50px;
  text-transform: uppercase;
}

  h3,label[for='add-task'] {
      color: #333;
      font-weight: 500;
      font-size: 10px;
      border-bottom: 2px solid #333;
      padding: 30px 0 10px;
      margin: 0;
      text-transform: uppercase;
  }
  
  h5{
    color: #333;
    font-weight: 500;
    font-size: 10px;
    border-bottom: 2px solid #333;
    padding: 30px 0 10px;
    margin: 0;
    text-transform: uppercase;
}

  input[type="text"]{
    margin: 0;
    font-size: 20px;
    line-height: 40px;
    height: 40px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-family: Lato, sans-serif;
    color: #888;
  }
  
  input[type="text"]:focus {
    color: #333;
  }
  
  /* New Task */
  label[for='add-task'] {
    display: block;
    margin: 0 0 20px;
  }

  input #new-task {
    float: left;
    width: 318px;
  }
  

  p > button:hover {
    color: #0FC57C;
  }
  
  /* Task list */
  li {
    overflow: hidden;
    padding: 20px 0;
    border-bottom: 1px solid #eee;
  }
  li > input[type="checkbox"] {
    margin: 0 10px;
    position: relative;
    top: 15px;
  }
  li > label {
    font-size: 18px;
    line-height: 40px;
    width: 237px;
    padding: 0 0 0 11px;
  }
  
  li >  input[type="text"] {
    width: 226px;
  }

  li > .delete:hover {
    color: black;
    background-color: white;
  }
  li > .edit:hover {
    color: black;
    background-color: white;
  }

  /* Completed */
  #completed-tasks label {
    text-decoration: line-through;
    color: #888;
  }
  
  /* Edit Task */
  ul li input[type='text'] {
    display:none;
  }
  
  ul li.editMode input[type='text'] {
    display:block;
  }
  
  ul li.editMode label {
    display:none;
  }